@import 'bootstrap/dist/css/bootstrap.css';

:root{
  --background-color: #bec3c8;
  --accent-color-1: #bec3c8;
  --accent-color-2: #273c4d;
}

[data-theme='dark']{
  --background-color: #2a2f36;
  --accent-color-1: #bec3c8;
  --accent-color-2: #273c4d;
}

[data-theme='light']{
  --background-color: #bec3c8;
  --accent-color-1: #212529;
  --accent-color-2: #273c4d;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  background-color: var(--background-color);
}

.dashMain{
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 0% 1fr;
  
}

.header{
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}

.sidebar{
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  background-color: #212529;
  
}

.main{
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  background-color: var(--main-light);
 
}

.sideLinks{
  color: white;
  font-weight: bold;
  padding: 10% 5% 10% 5%;
  border-radius: 5px;
  cursor: pointer;
}

.sideLinks:hover{
  background-color: #273c4d;
}

.lines{
  height: 1px;
  width: 100%;
  background-color: black;
}

.iconhome{
  margin-right: 10px;
}

.venueHospWrap{
display: flex;
flex-direction: row;
width: 100%;
justify-content: center;
margin-bottom: 20px;
}

.venueWrap{
  width: 20em;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #212529;
  padding: 10px;
  border-radius: 10px;
  margin-right: 2px;
}

.hospWrap{
  width: 20em;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #212529;
  padding: 10px;
  border-radius: 10px;
  margin-left: 2px;
}

.table{
  border-radius: 10px;
  padding: 5px;
  background-color: #212529;
}