@import 'bootstrap/dist/css/bootstrap.css';

:root{
  --background-color: #bec3c8;
  --accent-color-1: #212529;
  --accent-color-2: #273c4d;
  --button-color: #bec3c8;
  --form-text: #ffffff;
}

[data-theme='dark']{
  --background-color: #2a2f36;
  --accent-color-1: #bec3c8;
  --accent-color-2: #273c4d;
  --button-color: #2a2f36;
}

[data-theme='light']{
  --background-color: #bec3c8;
  --accent-color-1: #212529;
  --accent-color-2: #273c4d;
  --button-color: #bec3c8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  background-color: var(--background-color);
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    bottom: 0; /* Hide sidebar on mobile */
    z-index: 1;
    height: 10%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: var(--accent-color-2);
  }

  .sideLinks-one{
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #2a2f36;
    align-content: center;
    text-align: center;
    border: solid 2px #273c4d;
    width: 25%;
  }

  .sideLinks{
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #2a2f36;
    align-content: center;
    text-align: center;
    border: solid 2px #273c4d;
    width: 25%;
  }

  .iconhome{
    display: none;
  }


  .lines{
    height: 1px;
    width: 100%;
    background-color: whitesmoke;
  }

  .startBox{
      padding: '5px';
      max-width: '400px';
      margin: '0 auto';
  }

  .startBox2{
    border: var(--accent-color-1) solid 2px;
    padding: 80px;
    background-color: var(--accent-color-2);
    border-radius: 30px;
    color: white;
    margin-top: 50px;
}

  .header{
   display: flex;
   flex-direction: column;
   width: 100%;
  }

  .w-100{
    margin-bottom: '100px' 
  }

  .datesCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .text-white{
    width: 100%;
    background: #273c4d;
    border-radius: 10px;

  }
  
  .mainPickBox{
    margin-top: 5vh;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
  }
  
  .tourPickerBox{
    background-color: var(--accent-color-2);
    color: var(--form-text);
    align-items: baseline;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    margin-bottom: 10px;
  }

}

@media (min-width: 768px){
.dashMain{
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 0% 1fr;
}

.sideLinks-one{
  margin-top: 200px;
  color: white;
  font-weight: bold;
  padding: 10% 5% 10% 5%;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--accent-color-1);
  border: white 1px solid;
}

.sideLinks{
  margin-top: 20px;
  color: white;
  font-weight: bold;
  padding: 10% 5% 10% 5%;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--accent-color-1);
  border: white 1px solid;
}

.startBox{
  padding: 5px;
  max-width: 50%;
  margin: 0 auto;
}

.startBox2{
  border: var(--accent-color-1) solid 2px;
  padding: 80px;
  background-color: var(--accent-color-2);
  border-radius: 30px;
  color: white;
  margin-top: 200px;
}

.text-white{
  width: 80%;
  background: #273c4d;
  border-radius: 10px;
  justify-content: center;
}

.datesCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 45px;
  margin-right: 30px;
  gap: 20px;
}

.mainPickBox{
  margin-top: 20vh;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
}

.tourPickerBox{
  background-color: var(--accent-color-2);
  color: var(--form-text);
  align-items: baseline;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 60%;
  margin-bottom: 40px;
}

.sidebar{
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  background-color: #212529;
}

}

.header{
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}

.main{
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  background-color: var(--main-light);
 
}

.sideLinks-one:hover{
  background-color: #273c4d;
}

.sideLinks:hover{
  background-color: #273c4d;
}

.iconhome{
  margin-right: 10px;
}

.venueHospTimeWrap{
  display: flex;
flex-direction: row;
width: 100%;
justify-content: center;
margin-bottom: 0px;
align-items: center;
}

.venueHospWrap{
display: flex;
flex-direction: column;
margin-right: 10px;
margin-bottom: 10px;
}

.venueWrap{
  width: 20em;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--accent-color-2);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.hospWrap{
  width: 20em;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--accent-color-2);
  padding: 10px;
  border-radius: 10px;
  margin-left: 2px;
  padding: 10px;
}

.locations{
  background-color: var(--accent-color-2);
  color: var(--form-text);
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
}

.tourAndDate{
  background-color: var(--accent-color-2);
  color: var(--form-text);
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
}

.times{
  background-color: var(--accent-color-2);
  color: var(--form-text);
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
}

.updateCreate{
  background-color: var(--accent-color-2);
  color: var(--form-text);
  align-items: baseline;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  margin-top: 60px;
}

.table{
  border-radius: 10px;
  padding: 5px;
  background-color: var(--accent-color-2);
  height: 100%;
  padding: 50px;
}

tr td {
  border-radius: 10px;
  padding: 5px;
  background-color: var(--accent-color-2);
  color: white;
  width: 100%;
}

.showNotes{
  background-color: var(--accent-color-2);
  color: var(--form-text);
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
  width: 70%;
}